html, body{
    margin:0;
    padding: 0;
}
/*For header*/
header{
    background-color: black;
    padding: 5px;
}
.signInBtn{
    text-align: center;
    float: right;
    width: 150px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
    margin-top: 15px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
    cursor: pointer; 
    color: white !important;
}

.displayNameLink{
    color: white;
}

.displayNameLink:hover{
    text-decoration: none;
    color: white;
}

.signInBtn:hover {
    background-color: lightgray;
}
.search-container {
    position: relative;
    width: 80%;
    left: 30%;
}
.search-container input{
    font-size: 15px;
    border: none;
    margin-right: 0;
    width: 400px;
    cursor: text;
    padding: 5px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.search-container button{
    font-size: 15px;
    cursor: pointer; 
    border: none;
    margin: 0;
    padding: 5px;
    padding-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    width: 100px;
    background-color: gray;
    font-weight: bold;
    color: white;
}
.search-container button:hover{
    background-color: lightgray;
}
.iconText{
    margin: 20px;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
    color: orange;
}

/*Log in*/
.login-container{
    position: absolute;
    background-color: #222;
    margin: 0;
    padding: 0;
    width: 300px;
    border-radius: 10px;
    border: none; 
    z-index: 1;
    text-align: center;
}

.loginTitle {
    color: orange;
    font-family: Impact, Charcoal, sans-serif;
}

#loginUser, 
#loginPassword, 
#registerEmail, 
#registerPassword1, 
#registerPassword2, 
#confirmPassword, 
#newPassword, 
#originalPassword{
    color: white; 
    font-size: 20px;
    position: relative;
    padding-left: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px; 
    background-color: #222;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: orange;
    border-bottom-style: solid 1px;
}

#loginBtn{
    margin-top: 20px; 
    height: 30px;
    background-color: lightgray;
    width: 40%;
    border-radius: 10px; 
    font-size: 15px; 
    background-color: orange;
    border: none;
    color: white; 
}

#loginUser, 
#loginPassword, 
#registerEmail, 
#registerPassword1, 
#registerPassword2, 
#confirmPassword, 
#newPassword, 
#originalPassword:focus {
    outline: none; 
}

/*Style for profile page*/
.profile-container{
    margin: 20px;
}
.profileBtn{
    text-align: center;
    width: 200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: gray;
    margin-top: 15px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
    cursor: pointer; 
    color: white !important;
}
.profileBtn:hover{
    background-color: lightgray; 
}

.profileBtn:focus{
    outline: none; 
}
.profileImg{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: solid 2px;
    border-color: darkgray;
}

/* Modal Content */
.m{
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
.m-content {
    position: relative;
    text-align: center; 
    background-color: #222;
    margin: auto;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 3px;
    width: 30% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.m-header {
    text-align: center;
    color: orange;
    padding: 0; 
    margin-top: 5px; 
    border:0;
    background-color: #222;
}

.m-body {
    padding: 2px 16px;
    background-color: #222;
}

/*Main page*/
.memePic{
    position: relative;
}
.col-container {
    margin: 0;
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 4px;
}

.columnLeft, .columnMid, .columnRight {
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    display: table-cell;
    margin: 0;
}

.columnRight{
    vertical-align: top;
    background-color: lightgray;
    width: 34%; 
}

.columnMid{
    text-align: center;
    width: 50%; 
    background-color: lightgray;
}

.columnLeft{
    vertical-align: top;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    background-color: lightgray;
}
.columnLeft h4{
    font-weight: bold;
}
#topText, #bottomText{
    padding-block-start: 3px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

#generateBtn, #resetBtn{
    text-align: center;
    margin: 10px;
    float: left;
    width: 150px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: gray;
    margin-top: 15px;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
    cursor: pointer; 
    color: white !important;
}